@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body {
    font-family: Open Sans;
    color: #444;
}

.body {
    max-width: 500px;
}

pre {
}

code {
    font-family: Source Code Pro;
    font-size: 14px;
    border-radius: 5px;
}



